* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    word-spacing: -5px;
}



.light-mode{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
    background-color: #f8f4ef;
}

.dark-mode{
    background: url('imagens/anbu.jpg');
    z-index: -1;
}

.write-name{
    font-weight: bolder;
    color: #641E16;
}

.score{
    display: flex;
    color: #641E16;
    width: 200px;
}
.score h2{
    margin-right: 8px;
}

.life{
    display: flex;
    align-items: center;
    color:  #641E16;
    width: 200px;
}

/* .life-damage{
    opacity: 0.4;
    animation: spinnerKunai 0.8s linear;
}
@keyframes spinnerKunai {
    to{transform: rotate(360deg);}
} */

.life h2{
    margin-right: 8px;
}

.img-kunai{
    width: 30px;
    height: 30px;
}

.btn-name{
    font-weight: bolder;
    font-size: 12px;
    background-color: transparent;
    color: #4A235A;
    border: none;
    border-bottom: 1px solid #0a0a0a;
    cursor: pointer;
}

.start-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 100%;
    top: 75px;
    background: linear-gradient(rgba(0,0,0,.40), rgba(0,0,0,.40) 100%),
                url(imagens/naruto-sasuke.jpg) no-repeat;
    background-size: cover;
    position: absolute;
}

.btn-comecar-jogar{
    font-family: cursive;
    width: 300px;
    height: 45px;
    border: 2px solid #f8f4ef ;
    border-radius: 20px;
    background-color: #134485;
    color: #f8f4ef;
    font-size: 20px;
    padding: 0 8px;
    cursor: pointer;
    opacity: 0.8;
}

.btn-comecar-jogar:hover{
    opacity: 1;
}

.game-over-wrapper{
    display: flex;
    justify-content: center;
   
    align-items: center;
}

.win-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    width: 100%;
    top: 75px;
    background: linear-gradient(rgba(0,0,0,.40), rgba(0,0,0,.40) 100%),
                url(imagens/naruto-win.jpg) no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
}

.win-wrapper p{
    color: #f8f4ef;
    line-height: 20px;
    text-align: left;
    font-size: 14px;
}

.game-over{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 550px;
    background: url(imagens/game-over.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 65px;
    margin: 10px 0;
}

.game-over h2{
    color: #f8f4ef;
    font-size: 50px;
    margin-bottom: 12px;
    opacity: 0.7;
}

.z-index{
   z-index: -1;
}

.user-panel-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    padding: 8px 14px;
    background-image:linear-gradient(#D68910,#D35400) ;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
    cursor: pointer;
}

.my-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 160px;

    background-color: transparent;
    margin: 10px;
   
    position: relative;
    transform-style: preserve-3d;
    transition: all 1.5s;
}

.front, .back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute; 
    border-radius: 10px;
}

.card-virar{
    transform: rotateY(180deg);
}

.front{
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.back{
    transform: rotateY(360deg);
} 

@media screen and (max-width: 780px) {
    .user.user-panel-wrapper{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        height: auto;
    }
    .life h2, .score h2, .user h1{
        font-size: 14px;
        margin-left: 6px;
        text-align: left;
    }

    .user button{
        font-size: 12px;
        text-align: left;
        margin-left: 6px;
       
    }
  
    .img-kunai{
        width: 28px;
        height: 28px;
    }

}