* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light-mode{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
    background-color: #f8f4ef;
}

.dark-mode{
    background: url('imagens/anbu.jpg');
    z-index: -1;
}

.write-name{
    font-weight: bolder;
}

.score{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #134485;
}

.img-kunai{
    width: 30px;
    height: 30px;
}

.spinner-img{
    animation: spinnerKunai 0.8s linear;
}

@keyframes spinnerKunai {
    to{transform: rotate(360deg);}
}

.btn-name{
    font-weight: bolder;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0a0a0a;
    cursor: pointer;
}

.user-panel-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    padding: 8px 14px;
    background-color: #ff4c05;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
    cursor: pointer;
}

.my-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 160px;

    background-color: transparent;
    margin: 10px;
   
    position: relative;
    transform-style: preserve-3d;
    transition: all 1.5s;
   
}

.front, .back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute; 
    border-radius: 10px;
   
}

.card-virar{
    transform: rotateY(180deg);
}


.front{
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.back{
    transform: rotateY(360deg);
} 




